/*Start global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/bg1.jpg") no-repeat center fixed;
    background-size: cover;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
}

img {
    width: 100%;
}


/*End global*/


/*Start reusable*/

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/* typewriter */

.txt-type>.txt {
    font-family: "Open Sans", "sans-serif";
    border-right: 0.2rem solid #777;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}


/*End reusable*/


/*Start header*/

header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

@font-face {
    font-family: 'The Historia Demo';
    src: url('fonts/thehistoriademo-webfont.woff2') format('woff2'), url('fonts/thehistoriademo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav-link {
    font-family: 'The Historia demo', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #00ffc0 25%, #c800ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 1500;
    transition: transform 605ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #00ffc0 25%, #c800ff);
    width: 100%;
    height: 5px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.80, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(1.5rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.80, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-1.6rem);
}

.landing-text {
    /* perfect center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}


/* name */

.landing-text h1 {
    font-size: 20rem;
    font-weight: 500;
    font-family: "The Historia demo", sans-serif;
    background: linear-gradient(to top, #00ffc0 25%, #c800ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
    line-height: 1.1;
}

.landing-text h6 {
    font-family: "Open Sans", "sans-serif";
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.landingbtn {
    margin: 0 auto;
    background-color: rgb(151, 108, 180);
    height: 6rem;
    width: 20rem;
    cursor: pointer;
    transition: 0.2s ease-in;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingbtn p {
    font-family: "Open Sans", "sans-serif";
    font-size: 2rem;
}

.landingbtn:hover {
    transform: scale(1.05);
    background-color: rgb(134, 93, 161);
}


/* typewriter */

.txt-type>.txt {
    font-family: "Arial", "sans-serif";
    border-right: 0.2rem solid #777;
}


/*End header*/


/*Start about*/

#about {
    margin-top: 2rem;
    background-color: rgba(22, 22, 45, 0.65);
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.about .container .about-details p {
    font-size: 2rem;
    font-family: "Microsoft Sans Serif", "sans-serif";
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
    line-height: 0.2;
    /* puts "About" behind */
}

.about-heading h1 {
    color: rgba(31, 131, 134, 0.644);
    font-size: 10rem;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.experience {
    background-color: rgba(22, 22, 45, 0.68);
    /*margin-top: 20rem;*/
}

.profile-img {
    max-width: 30rem;
    flex: 1;
    margin: 0 3rem 7rem 0;
}

.profile-img img {
    border-radius: 60%;
}

.about-details {
    flex: 1;
    margin: 10px;
    line-height: 1.5;
}

.social-media .nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    padding: 1rem;
    font-size: 4rem;
    transition: all 250ms;
}

.social-media i:hover {
    transform: scale(1.1);
}

.fa-github:hover {
    color: rgb(111, 66, 193);
}

.fa-instagram:hover {
    background: -webkit-linear-gradient(#8a3ab9, #e95950);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-quora:hover {
    color: #B92B27;
}


/*End about*/


/*Start services*/

.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.services .container .section-heading h1 {
    color: rgb(200, 0, 255);
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    background-color: #070707;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #00ffc0;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i {
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}


/*End services*/


/*Start portfolio*/

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.profile-img {
    width: 50rem;
    flex: 1;
}

.portfolio-description {}

.portfolio-description h6 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color650ms;
}

.portfolio-description .cta:hover {
    color: #2f67cd;
}


/*End services*/


/*Start timeline*/

.timeline ul {
    border-left: 4px solid #ffe838;
    border-radius: .8rem;
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}


/*End timeline*/


/*Start contact*/


/*Start footer*/

.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    animation: pulse 2s infinite;
}

#email {
    color: rgb(142, 142, 204);
}

#email:hover {
    color: rgb(114, 114, 173);
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}


/*End footer*/


/*Start animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(200, 0, 255);
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}


/*End animations*/


/*Start media queries*/

@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg1.jpg") no-repeat center fixed;
        /*background: url("images/bg1.jpg") no-repeat center fixed;*/
        background-size: cover;
    }
    .landing-text h1 {
        font-size: 15rem;
    }
    .landing-text h6 {
        font-size: 1.7rem;
    }
    .menu-toggler {
        flex-direction: column;
    }
    li {
        margin: 2rem 0;
    }
    .top-nav .nav-list {
        flex-direction: column;
    }
    .nav-link {
        font-size: 4.5rem;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .about-details i {
        font-size: 2.5rem;
    }
    .about-details li {
        margin: 0 1rem;
    }
    .icon-container {
        width: 7rem;
        height: 7rem;
    }
    .icon-container i {
        font-size: 4rem;
    }
    .timeline ul {
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        left: -20rem;
    }
    .timeline .date::after {
        left: -5.9rem;
    }
    @media screen and (max-width: 600px) {
        .menu-toggler {
            top: 2rem;
            right: 2rem;
        }
        /*.landing-text h1 {*/
        /*    font-size: 3rem;*/
        /*}*/
        .landingbtn {
            width: 16rem;
        }
        .landing-text {
            margin-top: 5rem;
            top: 30rem;
        }
        .nav-link {
            font-size: 3.5rem;
        }
        .about .container {
            flex-direction: column;
        }
        .profile-img {
            margin: 0 7rem 7rem 7rem;
        }
        .portfolio-item {
            flex-direction: column;
        }
        .portfolio-description {
            order: 2;
            margin: 0;
        }
        .portfolio-description h1 {
            margin-top: -1rem;
            font-size: 2.5rem;
        }
        .portfolio-img {
            max-width: 100%;
            margin-bottom: 2rem;
            order: 1;
        }
        .timeline p {
            font-size: 1.6rem;
        }
        .timeline .date::before {
            font-size: 1.4rem;
        }
        form {
            width: 100%;
        }
        .up {
            right: 2rem;
        }
    }
    @media screen and (max-width: 300px) {
        .landing-text h1 {
            font-size: 5rem;
        }
    }
}


/*End media queries*/